body {
    font-family: 'work-sans', sans-serif; /* يمكنك تغيير الخط هنا */
    margin: 0;
    padding: 0;
    background-color: #0085FF; /* لون خلفية فاتح */
    color: #333; /* لون نص داكن */
    text-align: center;
}

header {
    padding: 1em 0;
    color: white;
}

.timer-container {
    margin: 50px auto 0px auto;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px; /* عرض أقصى لتناسب التصميم */
}

#timer {
    font-size: 6em;
    margin: 0px 0px 60px;
    font-weight: bold;
    color: white;
}

.input-group {
    margin: 15px 0; /* إضافة مسافة بين الحقول */
    text-align: left; /* محاذاة النص إلى اليسار */
}

label {
    font-size: 18px; /* حجم الخط للتسمية */
    color: white; /* لون التسمية */
}

input[type="number"] {
    width: 100%; /* ملء العرض المتاح */
    padding: 10px; /* إضافة padding */
    border: 2px solid #0085FF; /* لون الحدود */
    border-radius: 5px; /* انحناء الزوايا */
    font-size: 18px; /* حجم الخط */
    margin-top: 5px; /* مسافة فوق حقل الإدخال */
    outline: none; /* إزالة حدود التركيز */
}

input[type="number"]:focus {
    border-color: #005BB5; /* تغيير لون الحدود عند التركيز */
}

.button {
    cursor: pointer;
    border: none;
    margin: 20px 10px 0px;
    padding: 10px 20px; /* زيادة padding لجعل الأزرار أكبر */
    border-radius: 5px; /* زيادة انحناء الزوايا */
    box-shadow: rgb(224, 224, 224) 0px 4px 0px; /* تعديل ظل الزر */
    font-family: ArialRounded;
    font-size: 22px;
    height: 55px;
    color: #0085FF;
    font-weight: bold;
    width: 150px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease; /* تحسين تأثير الانتقال */
}

.button:hover {
    background-color: #0085FF; /* لون الزر عند التمرير عليه */
    color: white;
    box-shadow: rgb(9, 112, 255) 0px 4px 0px; /* لون أزرق أغمق */
}
.button2 {
    cursor: pointer;
    border: none;
    margin: 0px 10px 20px;
    padding: 10px 20px; /* زيادة حجم الحواف */
    border-radius: 4px;
    font-family: ArialRounded;
    font-size: 18px;
    height: 55px; /* تأكد من أن الزر متناسق مع باقي الأزرار */
    color: white;
    font-weight: bold;
    width: 150px;
    background-color: rgb(79, 156, 79);
    transition: ease 0.3s;
}

.button2:hover {
    background-color: green; /* لون الزر عند التمرير عليه */
    color: white;
}
